body {
  font-family: 'Courier New', Courier, monospace;
}

form {
  display: flex;
  justify-content: space-between;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
  outline: none;
}

p{
  margin: unset;
}

h1{
  margin: 4px 0;
}

.pipe {
  width: 4px;
  background: black;
}