@font-face {
  font-family: 'BreatheFire-65pg';
  src: url('assets/BreatheFire-65pg.ttf') format('truetype');
}

body {
  font-family: 'BreatheFire-65pg', Times, serif;
  padding: 24px;
}

form {
  display: flex;
  justify-content: space-between;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
  outline: none;
  font-family: 'BreatheFire-65pg', Times, serif;
}

p{
  margin: unset;
}

h1{
  margin: 4px 0;
}

span {
  font-weight: 800;
  font-size: 16px;
  align-self: center;
  margin: 0 8px;
}

.pipe {
  width: 4px;
  background: black;
}