@font-face {
  font-family: 'BreatheFire-65pg';
  src: url('assets/BreatheFire-65pg.ttf') format('truetype');
}

@font-face {
  font-family: 'TheWildBreathOfZelda-15Lv';
  src: url('assets/TheWildBreathOfZelda-15Lv.ttf') format('truetype');
}

body {
  font-family: 'Courrier', Courier, monospace;
}

form {
  display: flex;
  justify-content: space-between;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
  outline: none;
}

p{
  margin: unset;
}

h1{
  margin: 4px 0;
}

.pipe {
  width: 4px;
  background: black;
}