.shield_proficience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  width: 100%;
  padding: 24px;
}

.armor_defence_container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.armor_container {
  border: 1px solid black;
  display: flex;
  padding: 4px;
  margin-top: 16px;
}

.armor_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.armor_column input{
  border-bottom: 1px solid black;
  font-size: 18px;
}

.armor_points input{
  width: 36px;
  text-align: center;
}


.defence_container {
  border: 1px solid black;
  display: flex;
  padding: 4px;
}
.defence_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.defence_column input{
  border-bottom: 1px solid black;
  width: 36px;
  font-size: 18px;
  text-align: center;
}
.defence_default{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top:12px;
}