#jsonData {
  display: none;
}

.profile_container {

}

.profile_container input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.logo {
  background-image: url(../assets/logo.png);
  height: 109px;
  width: 320px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile_info {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 16px;
  grid-template-rows: 1fr 1fr;
  gap: 8px 16px;
  grid-template-areas: 'Name Name Player Player ImportButton' 'Race Origin Class Class .';
}

.profile_name {
  grid-area: Name;
}

.profile_player {
  grid-area: Player;
}

.profile_race {
  grid-area: Race;
}

.profile_origin {
  grid-area: Origin;
}

.profile_class {
  grid-area: Class;
}

.input_holder {
  width: 100%;
}

.profile_info-names {
  display: flex;
  align-items: center;
}

.character_import {
  grid-area: ImportButton;
  border: none;
  background: none;
  padding: 12px;
  background-image: url(../assets/direction.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile_info-class {
  display: flex;
}

.profile_info label {
  font-size: 12px;
  font-weight: bold;
}

.profile_info input {
  width: 100%;
  height: 24px;
  font-size: 16px;
}

.profile_info input:focus {
  border-bottom: 2px solid cyan;
}

.profile_proficience {
  display: flex;
  flex-direction: column;
}

.profile_proficience p {
  font-weight: bold;
  text-align: center;
  margin: unset;
}

.profile_proficience textarea {
  height: 100%;
  padding: unset;
  resize: none;
  padding: 12px;
}

.profile_proficience textarea::placeholder {
  font-weight: 800;
  color: black;
  font-family: 'BreatheFire-65pg', Times, serif;
}
