.status_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.status_container p{
  font-size: 24px;
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 80px;
  border: 1px solid black;
  margin: 0 4px;
}
.status input{
  background: none;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

.red {
  background: rgba(255, 2, 2, 0.432);
}

.blue {
  background: rgba(63, 140, 255, 0.445);
}